h1 {
	background-color: #FFF;
	width: 100%;
	margin: 0px;
	border-bottom: 3px solid #84a2d4;
	height: 45px;
}

h2 {
	background-color : #FFF;
	width: 898px;/*960-64+2*/
	height: 75px; /*80+1-6*/
	font-size: 40px;
	/*padding-top: 0.7rem;
	padding-left: 2rem;
	padding-bottom: 0.5rem;*/
	margin-top: 32px;
	margin-left: 31px; /*32-1*/
	border-bottom: 6px solid #84a2d4;
  	/*border-left: 16px solid #FF7467;*/
}

#h2_title{
	position: relative;
	top: 12px;
	left: 20px;
	color: #84a2d4;
}

h3{
	font-size: 30px;
	position: relative;
  	border-left: 8px solid #CC704B;
  	padding: 0.5rem 1rem;
  	color: #000;
}

h3::before {
position: absolute;
left: -8px;
bottom: 0;
content: '';
width: 6px;
height: 50%;
background-color: #614124;
}

h3::after {
position: absolute;
left: 0;
bottom: 0;
content: '';
width: 100%;
height: 0;
border-bottom: 3px solid #000;
}

h4{
  padding: 0.5rem 0.5rem;
  border-bottom: 2px solid #000;
	font-size: 20px;
}

img{
	width: 100%;
	height: auto;
}

body{
  /* 方眼紙模様に必須のスタイル */
  	background-image: linear-gradient(0deg, transparent calc(100% - 1px), #84a2d4 calc(100% - 1px)),
    	              linear-gradient(90deg, transparent calc(100% - 1px), #84a2d4 calc(100% - 1px));
  	background-size: 16px 16px;
  	background-repeat: repeat;
  	background-position: left left;

  	/* 以下任意のスタイル */
	margin: 0px;
	padding: 0px;
	width: 960px;
}

#head_root{
	height: 78px;
	background-color:#FFF;
	border-bottom: 3px solid #84a2d4;
	width: 100%;
	display: flex;
}

#header_left{
	width: 160px;
}
  
#icon_image{
	display: block;
	margin: auto;
	margin-top: 4px;
	height: 90%;
	width: auto;
	object-fit: contain; /* アスペクト比を保持して画像を表示 */	
}

#header_middle{
	margin-bottom: 10px;
	border: 3px solid #000;
	width: 640px;
}
.center_text{
	text-align: center;
	font-size: 64px;
	font-family: Arial Black;
}

#header_right{
	border: 3px solid #000;
	width: 160px;
}

p{
	width: 100%;
	height: auto;
	font-weight: 600;
	/*background-image : radial-gradient(#4169e1 15px, transparent 16px);
	background-size : 100px 100px;*/
}

#site_map {
  padding: 5px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  color: #565656;
  background: #FAEBD7;
  box-shadow: 0px 0px 0px 10px #FAEBD7;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

#site_map p {
  margin: 0;
  padding: 0;
}

#map_list ul{
	list-style: none;
}

#footer {
	background-color: #FFE389;
}

#attention{
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}

#uke{
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}

#impression{
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}
